body {
  padding: 0px;
  margin: 0px;
}

.toolbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 48px;
  padding-left: 24px;
  padding-right: 26px;
}

.logo {
  font-family: "Inter";
  font-weight: 600;
}
